@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }
}

@layer components {
  a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }
} */

/*@layer utilities {*/
/*  a {*/
/*    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600*/
/*  }*/
/*}*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
